<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人作品 - liuyouth 技术导航站点</title>
	<link rel="stylesheet" href="css/lib/swiper-3.3.1.min.css">
	<link rel="stylesheet" href="css/menu.css">
	<style type="text/css">
	*{
		padding: 0;
		margin: 0;
		font-family: "微软雅黑"
	}
	body{
		background: #f5f5f5;
	}
	.header{
		padding-left: 20px;
		background: #fff;
		height: 45px;
	}

	.banner{
		padding: 10px;
		border-radius: 4px;
		min-height: 150px;
		background: #fff;
		margin: 2% 2% 2% 2%;

	}
	.content{
		border-radius: 4px;
		margin: 2% 2% 2% 2%;

	}
	.boxContent{
		border-radius: 4px;
		


	}
	.boxRasterize{
		width: 48%;
		padding: 1%;
		
	}
	.box{
		padding: 3px;
		margin: 1%;
		border-radius: 4px;
		background: #fff; 
		width: 100%;
	}
	.box span{
		margin: 3px;

	}

	.footer{

	}
	ul{
		margin: 20px;
	}
	li{
		color: #333;
	}
	a{text-decoration:none;}

  /** 
	* 
	*/
	span{
		color: #fff;
	}


	.title{
		min-height: 24px;
		max-height: 24px;
		padding: 1%;
		border-radius: 4px 4px 0px 0px;
	}
	.usaType{
		padding: 3px;
		border-radius: 4px;
		color: #ff6f76;
		background: #fff;
		
	}
	.net{
		padding: 1%;
		text-align: center;
		color: #666;
	}
	.qq{
		border: 0;
		padding: 4px 16px;
		border-radius: 50px;
		line-height: 50px;
		color: #999;
		background: #f5f5f5;
		transition: all 1s ease;
	}
	.qq:hover{
		-webkit-box-shadow:0 0 7 #333;  
		-moz-box-shadow:0 0 7px #333;  
		box-shadow:0 0 7px #333; 
		color: #fff;
		background: #70CAFD;
	}
	.qr{

	}
	.pop{
		padding: 20px;
		background: #333;
		display: none;
		overflow: hidden;
		border-radius: 5px;
		position: relative;
		top: -335px;
		z-index: 100;
		left: 344px;
		width: 200px;
	}
	.swiper-slide img{ 
		
		
	}

	.boxinfo{
		padding: 1%;
	}
	
	/**
	* app 展示模块 
	*/

	.my-pagination{
	margin-top: 15px;
}
.my-pagination .swiper-pagination-bullet{
	width:100%;
	background:#fff;
	color: #555;
	height:60px;
	text-align:center;
	line-height: 60px;
	border-radius: 0;
	opacity: .9;
	border-bottom: 1px solid #f4f4f4;
}
.my-pagination .swiper-pagination-bullet:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.my-pagination .swiper-pagination-bullet:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.my-pagination .swiper-pagination-bullet-active{
	opacity: 1;

}
.my-pagination .swiper-pagination-bullet-active:before{
	content: '';
	position: absolute;
	display: block;
	width: 24px;
	height: 24px;
	margin: 18px 0 0 20px;
	background: url(http://www.app-echo.com/statics/v3/images/current1.5.png) no-repeat;
	background-size: 100%;
	border-radius: 50%;

}

	</style>

</head>
<body>
	<div id="header">
		<div style="width:30%;float:left;">
			<span class="logo">  liuyouth.github.io</span>
		</div>
		<div id="navmenu" style="width:70%">
			<nav id="menu">
				<ul>
					<li><a href="index.html">liuyouth</a>

					</li>
					<li class="active"><a href="apps.html">个人作品</a>
					</li>
					<li><a href="Gankio.html">Gank.io</a>

					</li>
					<li><a href="phones.html">iPhones</a>
						<ul>
							<li><a href="phones.html"><span class="icon elem0"></span>手机报价</a></li>
							<li><a href="#"><span class="icon elem0"></span>
								配件列表</a></li>
								<li><a href="#"><span class="icon elem0"></span>iphone 小通告</a></li>

							</ul>
						</li>
                        <!-- <li><a href="#">Videos</a></li>
                        <li><a href="#">Games</a></li>
                        <li><a href="#">Blog</a>
                            <ul>
                                <li><a href="#"><span class="icon elem0"></span>menu element 1</a></li>
                                <li><a href="#"><span class="icon elem0"></span>menu element 2</a></li>
                                <li><a href="#"><span class="icon elem0"></span>menu element 3</a></li>
                                <li><a href="#"><span class="icon elem0"></span>menu element 4</a></li>
                                <li><a href="#"><span class="icon elem0"></span>menu element 5</a></li>
                            </ul>
                        </li> -->
                        <li><a href="#">Me</a>
                        	<ul>
                        		<li class="icon elem0" >
                        			<div style="width:350px;padding:10px;">
                        				<div style="width:33.3%;text-align:center; float:left;">
                        					<img style="border-radius:50%;width:73%;height:73%;" src="http://7xavig.com2.z0.glb.qiniucdn.com/b5ecaffd5ae41b0e230e34d677dec98f.png?imageMogr2/auto-orient/quality/100%7CimageMogr2/thumbnail/!100x100r/gravity/Center/crop/100x100/dx/0/dy/0">
                        					<br>
                        					<span style="font-weight:bold; color:rgb(103, 106, 108); font-size:0.8em; line-height: 30px;">刘 博</span>
                        				</div>
                        				<div style="width:66.6%; float:left;">
                        					<div style=" padding-left:10px;">
                        						<span style="font-weight:bold; color:rgb(103, 106, 108);font-size:0.8em; "><img  src="http://www.app-echo.com/statics/v3/images/sex0.png"> 白羊座</span>

                        						<br>
                        						<span style=" color:rgb(103, 106, 108);font-size:0.6em; "><img style="    width: 8px;margin: -2px 3px 0 0;
                        							height: 14px;"src="http://www.app-echo.com/statics/v3/images/icon_place.png"> 北京</span>
                        							<br>
                        							<span style="font-weight:bold; color:rgb(103, 106, 108);font-size:0.8em; ">LiuYouth, Item.</span>
                        							<br>
                        							<span style="color:rgb(103, 106, 108);font-size:0.7em; ">163邮箱： Faithll@163.com</span>
                        							<br>
                        							<span style="color:rgb(103, 106, 108);font-size:0.7em; "><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=869689491&amp;site=qq&amp;menu=yes">神兽：38637714 </a></span>
                        							<br>

                        						</div>
                        					</div>
                        				</div>
                        				<div style="    clear: both;"></div>

                        			</li>
                        		</ul>
                        	</li>
                        </ul>
                    </nav>

                </div>
            </div>
            <div style="text-align:center;clear:both">
            </div>
            <div class="banner">
            	<h2>  业余作品</h2>
            	<ul>
            		<li>
            			2014年3月份的HelloWorld，让我踏上了一条不归路。
            		</li>
            		<li>一种与显示器 键盘 鼠标 日夜相处的生活方式。 <a class="qq" href=""> 关于设备</a></li>
            		<li>永无休止的学习，求知之路！</li>
            		<li>合作联系 <a class="qq" href="http://wpa.qq.com/msgrd?v=3&uin=869689491&site=qq&menu=yes">QQ</a></li>
            	</ul>

            </div>



            <div id="appList" class="content">
            
        		<div  v-for="item in items" style="width:100%;margin-top:60px;    overflow: hidden;" >

            		<div style="width:20%;float:left;">
            			<div style="margin-top:60px;background: #fff;border-radius:5px;">
            				<div style="
            				position: relative;
            				top:-60px;
            				text-align: center;
            				">
	            				<img style="{{item.style}}"
	            				src="{{item.logo}}">
	            				
            				</div>
							<div style="
            				position: relative;
            				top:-40px;
            				text-align: center;
            				">
								<h4 style="margin-bottom:20px;">{{item.name}}</h4>
	            				<div v-for="info in item.info" style="color:#333;font-size:12px;margin-bottom:10px;">{{info.m}}</div>
	            			
	            				<div>BUG吐槽 <a class="qq" href="http://wpa.qq.com/msgrd?v=3&uin=869689491&site=qq&menu=yes">QQ</a></div>
								<div style="color:#ccc;font-size:12px;">最后修改：{{item.lastDate}}</div>

							</div>
            			</div>
            			<div class="my-pagination" >
            				&nbsp;
            			</div>
            		</div>
            		<div style="width:78%;float:left;margin-left:2%; ">
            			<div class="swiper">
            				<div class="swiper-container tab-view">
            					<div class="swiper-wrapper">

            						<div class="swiper-slide">
            							<div  style="background: #fff;padding:10px;border-radius:5px;    text-align: center;">
            								    <!-- Swiper -->
											    <div class="imgs swiper-container">
											        <div class="swiper-wrapper">

											            <div v-for="img in item.imgs" class="swiper-slide">
															<img src="{{img.m}}">
											            </div>
											        </div>
											        <!-- Add Pagination -->
											        <div class="swiper-pagination"></div>
											    </div>
            								
            							</div>
            						</div>
            						<div class="swiper-slide" >
            							<div  style="background: #fff;padding:10px;border-radius:5px; ">
            								<div class="boxinfo">
												<h3>用到的技术</h3>
												<ul v-for="te in item.technologys">
													<li>{{te.m}}</li>
												</ul>
											</div>
            							</div>
            						</div>
            						<div class="swiper-slide">
            							<div  style="background: #fff;padding:10px;border-radius:5px;    text-align: center;">
            								<a href="{{item.downloadUrl}}">
												<h3>点击体验</h3>
            									<img class="qr" style="width: 200px;background: #fff;" src="{{item.downloadImg}}"></a>
            							</div>
            						</div>
            					</div>
            				</div>
            			</div>
            		</div>
        		</div>
		<!-- <div class="boxRasterize" >
			<div class="boxContent"  >
				<div class="title" style="    background-color: #ff6767;">
					<div>
						<span>Gank.io </span>
						<span class="usaType">Android客户端 </span>
		
						<img date-qr="1" class="qr" style="width: 24px;background: #fff;float: right;" src="img/mini2.png">
						<span style="float:right;margin-right:5px;">扫码下载 → </span>
					</div>
					<div date-pop="1" class="pop" >
						<div style="background: #333;    border-radius: 5px; ">
							<img class="qr" style="width: 200px;background: #fff;float: right;" src="img/open2.png">
						</div>
					</div>
				</div>
				<div class="boxbanner">
					<div class="swiper">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide" style="text-align: center;"><img src="img/gank1.png"></div>				
								<div class="swiper-slide" style="text-align: center;"><img src="img/gank2.png"></div>
								<div class="swiper-slide" style="text-align: center;"><img src="img/gank3.png"></div>
							</div>
		
						</div>
		
					</div>
					
				</div>
				<div class="boxinfo">
					<h3>用到的技术</h3>
					<ul>
						<li>MVP</li>
						<li>dagger · butterknife · </li>
						<li>RxJava · Retrofit （好似亲哥俩）</li>
						<li>Gson · Glide · ACache · okhttp3</li>
						<li>RecycleView · CardView · WebView · SwipeRefreshLayout</li>
						<li>滑动返回 </li>
						<li>下拉刷新 上拉加载 </li>
						<li>BUG吐槽 <a class="qq" href="http://wpa.qq.com/msgrd?v=3&uin=869689491&site=qq&menu=yes">QQ</a></li>
					</ul>
				</div>
				<div class="net"> 
					更新于2016-09-30
				</div>
		
			</div>
		</div>
		
			<div class="boxContent" >
				
				<div class="title" style="    background-color: #ff6767;">
					<div>
						<span>Songtaste </span>
						<span class="usaType">Android客户端 </span>
		
						<img date-qr="2" class="qr" style="width: 24px;background: #fff;float: right;" src="img/mini2.png">
						<span style="float:right;margin-right:5px;">扫码下载 → </span>
					</div>
					<div class="pop" date-pop="2" >
						<div style="background: #333;    border-radius: 5px; ">
							<img class="qr" style="width: 200px;background: #fff;float: right;" src="img/open2.png">
						</div>
					</div>
				</div>
				<div class="boxbanner">
					<div class="swiper">
						<div class="swiper-container swiper-img">
							<div class="swiper-wrapper">
								<div class="swiper-slide" style="text-align: center;"><img src="img/st1.png"></div>				
								<div class="swiper-slide" style="text-align: center;"><img src="img/st2.png"></div>
								
							</div>
		
						</div>
		
					</div>
					
				</div>
				<div class="boxinfo">
					<h3>用到的技术</h3>
					<ul>
						<li>MVP</li>
						<li>dagger · butterknife · </li>
						<li>RxJava · Retrofit （好似亲哥俩）</li>
						<li>Gson · Glide · ACache · okhttp3</li>
						<li>RecycleView · CardView · WebView · SwipeRefreshLayout</li>
						<li>滑动返回 </li>
						<li>下拉刷新 上拉加载 </li>
						<li>WebView 加载进度条</li>
						<li>BUG吐槽 <a class="qq" href="http://wpa.qq.com/msgrd?v=3&uin=869689491&site=qq&menu=yes">QQ</a></li>
					</ul>
				</div>
				<div class="net"> 
					更新于2016-09-30
				</div>
		
			</div>
		</div> -->
	</div>
	<div class="footer"></div>
</body>
<script src="js/lib/jquery-2.1.1.min.js"></script>
<script src="js/lib/jquery.gradientify.min.js"></script>
<script src="js/lib/swiper-3.3.1.jquery.min.js"></script>
<script src="js/lib/jquery.nicescroll.js"></script>
<script src="js/lib/vue.js"></script>
 



<script type="text/javascript">
 new Vue({
              el: '#appList',
              data: {
                items: [
                	{	name:"Gank.io干货集中营",logo:"img/gank.io.png",lastDate:"2016-10-14",style:"background: #ff6767;border-radius: 50%;width:100px;margin-bottom:10px;",
	                	info:[
		                		{m:"提供关于IT行业的技术干货"},
		                		{m:"包括但不限于以下行业相关"},
		                		{m:"Android iOS 前端"},
		                		{m:"Android App"},
		                	],
		                imgs:[{m:"img/gank1.png"},{m:"img/gank2.png"},{m:"img/gank3.png"},],
		                technologys:[{m:"MVP"},{m:"dagger · butterknife"},{m:"RxJava · Retrofit"},{m:"Gson · Glide · ACache · okhttp3"},{m:"RecycleView · CardView · WebView · SwipeRefreshLayout"},{m:"滑动返回"},{m:"下拉刷新 上拉加载"},],
		                downloadImg:"img/open2.png",downloadUrl:"#",
                	},
                	{	name:"Songtaste客户端",logo:"img/songtaste.png",lastDate:"2015-07-22",style:"background: transparent;width:100px;margin-bottom:10px;",
	                	info:[
		                		{m:"songtaste定制客户端"},
		                		{m:"2015-7-20日Songtaste网站关闭播放模块"},
		                		{m:"易语言制作"},
		                		{m:"Windows 软件"},
		                	],
		                imgs:[{m:"img/songtasteMax.png"},{m:"img/songtasteMin.png"},],
		                technologys:[{m:"Ex_Dui 2.0"},{m:"正则"},{m:"音乐播放"},{m:"使用说明"},{m:"翻页方法：右击上一曲是上一页。下一页同上。"}],
		                downloadImg:"img/songtaste.png",downloadUrl:"app/songtaste.exe",
                	},
                	{	name:"爱度亚麻籽油官网",logo:"img/aidu.png",lastDate:"2015-07-22",style:"padding:10px;background: #fff;border-radius: 5px;width:150px;margin-bottom:10px;",
	                	info:[
		                		{m:"前台样式根据设计图定制"},
		                		{m:"后台使用javaEE，框架如下"},
		                		{m:"Spring MVC Hibernate "},
		                		{m:"Web站点"},
		                	],
		                imgs:[{m:"img/aidui.png"},{m:"img/ailife.png"},],
		                technologys:[{m:"后台采用Spring MVC Hibernate 框架 "},
		                		{m:"此站点大部分时间用在了UI矫正方面"},
		                		{m:"与设计图上标注的尺寸相差小于1px"},
		                		{m:"此项目我负责一些难点的突破，与较为复杂页面的实现"},
		                		{m:"首页/生活这两个页面我主要负责的，感谢左经理的帮忙。"},],
		                downloadImg:"img/aidu.png",downloadUrl:"http://www.aiduworld.com/cn/",
                	},
                	
                ]
            }
        });
 for (var i = 0; i < 1; i++) {
 	var mySwiper = new Swiper('.tab-view',{
	pagination: '.my-pagination',
	swipeHandler : '.swipe-handler',
	paginationClickable: true,
	paginationBulletRender: function (index, className) {
		switch (index) {
			case 0: name='应用截图';break;
			case 1: name='技术介绍';break;
			case 2: name='下载方式';break;
			default: name='';
		}
		return '<span class="' + className + '">' + name + '</span>';
	}
})
 };
/*var mySwiper = new Swiper('.tab-view',{
	pagination: '.my-pagination',
	swipeHandler : '.swipe-handler',
	paginationClickable: true,
	paginationBulletRender: function (index, className) {
		switch (index) {
			case 0: name='应用截图';break;
			case 1: name='技术介绍';break;
			case 2: name='下载方式';break;
			default: name='';
		}
		return '<span class="' + className + '">' + name + '</span>';
	}
})*/
    var swiper = new Swiper('.imgs', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplay: 3000,
		loop: true,
    });


$(function(){

		//logo颜色渐变动画
		$(".logo").gradientify({
			gradients: [
			{ start: [0, 184, 255], stop: [110, 213, 108] },
			{ start: [255,103,69], stop: [240,154,241] },
			{ start: [33,229,241], stop: [235,236,117] }
			]
		});
		//美化浏览器的滚动条
		$("html").niceScroll({
			touchbehavior:false,cursorcolor:"#0966ce",cursoropacitymax:1,cursorwidth:5,horizrailenabled:true,cursorborderradius:5,autohidemode:true,background:'none'
		});

			//扩展动画
			$.extend($.easing,{
				easeOutExpo:function(e,f,a,h,g){
					return(f==g)?a+h:h*(-Math.pow(2,-10*f/g)+1)+a
				},easeOutBounce:function(x,t,b,c,d){
					if((t/=d)<(1/2.75)){
						return c*(7.5625*t*t)+b;
					}else if(t<(2/2.75)){
						return c*(7.5625*(t-=(1.5/2.75))*t+.75)+b;
					}else if(t<(2.5/2.75)){
						return c*(7.5625*(t-=(2.25/2.75))*t+.9375)+b;
					}else{
						return c*(7.5625*(t-=(2.625/2.75))*t+.984375)+b;
					}
				}
			});



		});
</script>
</html>