<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>liuyouth 技术导航站点</title>
	<link rel="stylesheet" href="css/lib/swiper-3.3.1.min.css">
	<link rel="stylesheet" href="css/menu.css">
	<style type="text/css">
	*{
		padding: 0;
		margin: 0;
		font-family: "微软雅黑"
	}
	body{
		background: #f5f5f5;
	}
	.header{
		padding-left: 20px;
		background: #fff;
		height: 45px;
	}

	.banner{
		padding: 10px;
		border-radius: 4px;
		min-height: 150px;
		background: #fff;
		margin: 2% 2% 2% 2%;

	}
	.content{
		border-radius: 4px;
		margin: 2% 2% 2% 2%;

	}
	.boxContent{
		border-radius: 4px;
		


	}
	.boxRasterize{
		width: 48%;
		padding: 1%;
		
	}
	.box{
		padding: 3px;
		margin: 1%;
		border-radius: 4px;
		background: #fff; 
		width: 100%;
	}
	.box span{
		margin: 3px;

	}

	.footer{

	}
	ul{
		margin: 20px;
	}
	li{
		color: #333;
	}
	a{text-decoration:none;}

  /** 
	* 
	*/
	span{
		color: #fff;
	}


	.title{
		min-height: 24px;
		max-height: 24px;
		padding: 1%;
		border-radius: 4px 4px 0px 0px;
	}
	.usaType{
		padding: 3px;
		border-radius: 4px;
		color: #ff6f76;
		background: #fff;
		
	}
	.net{
		padding: 1%;
		text-align: center;
		color: #666;
	}
	.qq{
		border: 0;
		padding: 4px 16px;
		border-radius: 50px;
		line-height: 50px;
		color: #999;
		background: #f5f5f5;
		transition: all 1s ease;
	}
	.qq:hover{
		-webkit-box-shadow:0 0 7 #333;  
		-moz-box-shadow:0 0 7px #333;  
		box-shadow:0 0 7px #333; 
		color: #fff;
		background: #70CAFD;
	}
	.qr{

	}
	.pop{
		padding: 20px;
		background: #333;
		display: none;
		overflow: hidden;
		border-radius: 5px;
		position: relative;
		top: -335px;
		z-index: 100;
		left: 344px;
		width: 200px;
	}
	.swiper-slide img{ 
		
		
	}

	.boxinfo{
		padding: 1%;
	}
	
	/**
	* app 展示模块 
	*/

	.my-pagination{
		margin-top: 15px;
	}
	.my-pagination .swiper-pagination-bullet{
		width:100%;
		background:rgba(144, 215, 255, 0.0); 
		color: #555;
		height:60px;
		text-align:center;
		line-height: 60px;
		opacity: 1;
		border-radius: 0;
		/* border-bottom: 1px solid #f4f4f4; */
	}
	.my-pagination .swiper-pagination-bullet:first-child{
		/* border-top-left-radius: 5px;
		border-top-right-radius: 5px; */
	}
	.my-pagination .swiper-pagination-bullet:last-child{
		/* border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px; */
	}

	.my-pagination .swiper-pagination-bullet-active{
		opacity: 1;
		background:#fff;
		color: #6ed56c;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
	}
	.my-pagination .swiper-pagination-bullet-active:before{
		content: '';
		position: absolute;
		display: block;
		width: 24px;
		height: 24px;
		margin: 18px 0 0 20px;
		background: url(http://www.app-echo.com/statics/v3/images/current1.5.png) no-repeat;
		background-size: 100%;
		border-radius: 50%;

	}
	.phoneItem{
		width: 190px;
		float: left;
		padding: 10px;
		margin: 10px;
		border-radius: 5px;
		border: solid 1px #eee;
	}
	.phoneItemSe{
		width: 112px;
		float: left;
		padding: 10px;
		margin: 10px;
		border-radius: 5px;
		border: solid 1px #eee;	
	}
	.se{
		background-color: #6ed56c;
		color: #fff;
	}


.price{
    color: #ff6767;
    font-size: 1.3em;
    text-align: center;
}
.size{
background: #333;
    color: #fff;
    width: 50px;
    text-align: center;
    border-radius: 5px;
}
	</style>
</head>
<body>
	<div id="header">
		<div style="width:30%;float:left;">
			<span class="logo">  liuyouth.github.io</span>
		</div>
		<div id="navmenu" style="width:70%">
			<nav id="menu">
				<ul>
					<li><a href="index.html">liuyouth</a>

					</li>
					<li><a href="apps.html">个人作品</a>
					</li>
					<li><a href="Gankio.html">Gank.io</a>

					</li>
					<li  class="active"><a href="phones.html">iPhones</a>
						<ul>
							<li><a href="phones.html"><span class="icon elem0"></span>手机报价</a></li>
							<li><a href="#"><span class="icon elem0"></span>
								配件列表</a></li>
								<li><a href="#"><span class="icon elem0"></span>iphone 小通告</a></li>

							</ul>
						</li>
                        <!-- <li><a href="#">Videos</a></li>
                        <li><a href="#">Games</a></li>
                        <li><a href="#">Blog</a>
                            <ul>
                                <li><a href="#"><span class="icon elem0"></span>menu element 1</a></li>
                                <li><a href="#"><span class="icon elem0"></span>menu element 2</a></li>
                                <li><a href="#"><span class="icon elem0"></span>menu element 3</a></li>
                                <li><a href="#"><span class="icon elem0"></span>menu element 4</a></li>
                                <li><a href="#"><span class="icon elem0"></span>menu element 5</a></li>
                            </ul>
                        </li> -->
                        <li><a href="#">Me</a>
                        	<ul>
                        		<li class="icon elem0" >
                        			<div style="width:350px;padding:10px;">
                        				<div style="width:33.3%;text-align:center; float:left;">
                        					<img style="border-radius:50%;width:73%;height:73%;" src="http://7xavig.com2.z0.glb.qiniucdn.com/b5ecaffd5ae41b0e230e34d677dec98f.png?imageMogr2/auto-orient/quality/100%7CimageMogr2/thumbnail/!100x100r/gravity/Center/crop/100x100/dx/0/dy/0">
                        					<br>
                        					<span style="font-weight:bold; color:rgb(103, 106, 108); font-size:0.8em; line-height: 30px;">刘 博</span>
                        				</div>
                        				<div style="width:66.6%; float:left;">
                        					<div style=" padding-left:10px;">
                        						<span style="font-weight:bold; color:rgb(103, 106, 108);font-size:0.8em; "><img  src="http://www.app-echo.com/statics/v3/images/sex0.png"> 白羊座</span>

                        						<br>
                        						<span style=" color:rgb(103, 106, 108);font-size:0.6em; "><img style="    width: 8px;margin: -2px 3px 0 0;
                        							height: 14px;"src="http://www.app-echo.com/statics/v3/images/icon_place.png"> 北京</span>
                        							<br>
                        							<span style="font-weight:bold; color:rgb(103, 106, 108);font-size:0.8em; ">LiuYouth, Item.</span>
                        							<br>
                        							<span style="color:rgb(103, 106, 108);font-size:0.7em; ">163邮箱： Faithll@163.com</span>
                        							<br>
                        							<span style="color:rgb(103, 106, 108);font-size:0.7em; "><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=869689491&amp;site=qq&amp;menu=yes">神兽：38637714 </a></span>
                        							<br>

                        						</div>
                        					</div>
                        				</div>
                        				<div style="    clear: both;"></div>

                        			</li>
                        		</ul>
                        	</li>
                        </ul>
                    </nav>

                </div>
            </div>
            <div style="text-align:center;clear:both">
            </div>


            <div id="appList" class="content">
            	<div  v-for="item in items" style="width:100%;margin-top:20px; background: #fff; border-radius:5px;  overflow: hidden;" >

            		<div style="height:800px;width:20%;float:left;background: rgba(144, 215, 255, 0.75);">
            			<div style="">
            				<div style="text-align: center;">
            					<img :style="item.style" :src="item.logo">
            					<h4 style="margin-bottom:20px;color:#333">{{item.name}}</h4>
            				</div>
            				<div style="text-align: center;">
            				</div>
            			</div>
            			<div class="my-pagination" >
            				&nbsp;
            			</div>
            		</div>
            		<div style="height:800px;width:78%;float:left;margin-left:2%; ">
            			<div class="swiper">
            				<div class="swiper-container tab-view">
            					<div class="swiper-wrapper">

            						<!-- <div class="swiper-slide">
            							<div  style="background: #fff;padding:10px;border-radius:5px;    text-align: center;">
            								Swiper
            								<div class="imgs swiper-container">
            									<div class="swiper-wrapper">
            						
            										<div v-for="img in item.info" class="swiper-slide">
            											<h1>{{img.m}}</h1>
            										</div>
            									</div>
            									Add Pagination
            									<div class="swiper-pagination"></div>
            								</div>
            						
            							</div>
            						</div> -->
            						<div class="swiper-slide" >
            							<div  style="background: #fff;padding:10px;border-radius:5px; ">
            								<div class="boxinfo">
            									<h3>商品列表</h3>
            									<div>
            										<div>顶部</div>
            										<div>
            											<div style="float:left;width:20%;">
            												
            												<div v-for="(i,s) in item.type" v-on:click.native="typeChanged(i)"  class="phoneItemSe">
            													{{s}} 
            												</div>
            												
            											</div>
            											<div style="float:left;width:80%;">
            												<img-list :imgs="item.imgs" ></img-list>
            												<!-- <imgitem v-for="img in item.imgs" v-bind:url="img.m">
            												
            											</imgitem> -->
            												<!-- <div v-for="img in item.imgs" >
            													<div style="float:left;width:25%; text-align: center;">
            														
            														<img style="margin:10px;" src="{{img.m}}">
            													</div>
            												</div> -->
            												<div style="clear:both;"></div>

            											</div>
            											<div style="clear:both;"></div>
            										</div>

            									</div>
            									
            									<div v-for="te in item.infos">
            										<div class="phoneItem">
            											<div class="price">这里报价:{{te.price}} </div>
            											<div class="size">{{te.size}}</div>
            											<div>{{te.color}}</div>
            											<div>京东报价:{{te.jdprice}} </div>
            											<div>苹果报价:{{te.appleprice}} </div>
            										</div>
            									</div>
            								</div>
            							</div>
            						</div>
            						<div class="swiper-slide" >
            							<div  style="background: #fff;padding:10px;border-radius:5px; ">
            								<div class="boxinfo">
            									<h3></h3>
            									<!-- <ul v-for="te in item.technologys">
            										<li>{{te.m}}</li>
            									</ul> -->
            								</div>
            							</div>
            						</div>
            						<div class="swiper-slide">
            							<div  style="background: #fff;padding:10px;border-radius:5px;    text-align: center;">
            								<a starget="_blank" v-bind:href="item.downloadUrl">
            									<!-- <h3>{{item.downloadName}}</h3> -->
            									<img class="qr" style="width: 200px;background: #fff;" v-bind:src="item.downloadImg"></a>
            								</div>
            							</div>
            						</div>
            					</div>
            				</div>
            			</div>
            		</div>
            	</div>
            	<div class="footer"></div>
            	<script src="js/lib/jquery-2.1.1.min.js"></script>
            	<script src="js/lib/jquery.gradientify.min.js"></script>
            	<script src="js/lib/swiper-3.3.1.jquery.min.js"></script>
            	<script src="js/lib/jquery.nicescroll.js"></script>
            	<script src="js/lib/vue.js"></script>
            	<script type="text/javascript">
            	var typeCode = {1:"16GB",2:"32GB",3:"64GB",4:"128GB",5:"深空灰",6:"银白色",7:"香槟金",8:"玫瑰金",9:"256GB"}
            	var drimgs ={iphone6s:[{m:"http://store.storeimages.cdn-apple.com/8748/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone6s/silver/iphone6s-silver-select-2015_AV1?wid=150&hei=305&fmt=png-alpha&qlt=95&.v=1466197978953"},{m:"http://store.storeimages.cdn-apple.com/8748/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone6s/gold/iphone6s-gold-select-2015_AV1?wid=150&hei=305&fmt=png-alpha&qlt=95&.v=1466197979238"},{m:"http://store.storeimages.cdn-apple.com/8748/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone6s/gray/iphone6s-gray-select-2015_AV1?wid=150&hei=305&fmt=png-alpha&qlt=95&.v=1466197977841"},{m:"http://store.storeimages.cdn-apple.com/8748/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone6s/rosegold/iphone6s-rosegold-select-2015_AV1?wid=150&hei=305&fmt=png-alpha&qlt=95&.v=1466197977564"}],
            	iphone6:[{m:"http://store.storeimages.cdn-apple.com/8748/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone6s/silver/iphone6s-silver-select-2015_AV1?wid=150&hei=305&fmt=png-alpha&qlt=95&.v=1466197978953"},{m:"http://store.storeimages.cdn-apple.com/8748/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone6s/gold/iphone6s-gold-select-2015_AV1?wid=150&hei=305&fmt=png-alpha&qlt=95&.v=1466197979238"},{m:"http://store.storeimages.cdn-apple.com/8748/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone6s/gray/iphone6s-gray-select-2015_AV1?wid=150&hei=305&fmt=png-alpha&qlt=95&.v=1466197977841"}
            	],}

            	var infos ={ iphone6:[{price:"2499",appleprice:"3699",jdprice:"3699",size:typeCode[1],color:typeCode[5]},
								{price:"2599",appleprice:"3699",jdprice:"3699",size:typeCode[1],color:typeCode[6]},
								{price:"3150",appleprice:"3699",jdprice:"3399",size:typeCode[1],color:typeCode[7]},
								{price:"----",appleprice:"----",jdprice:"----",size:typeCode[1],color:typeCode[8]},
								{price:"2999",appleprice:"4399",jdprice:"4399",size:typeCode[3],color:typeCode[5]},
								{price:"3099",appleprice:"4399",jdprice:"4399",size:typeCode[3],color:typeCode[6]},
								{price:"3199",appleprice:"4399",jdprice:"4099",size:typeCode[3],color:typeCode[7]},
								{price:"----",appleprice:"----",jdprice:"----",size:typeCode[3],color:typeCode[8]},
								{price:"3150",appleprice:"----",jdprice:"----",size:typeCode[4],color:typeCode[5]},
								{price:"3250",appleprice:"----",jdprice:"----",size:typeCode[4],color:typeCode[6]},
								{price:"3299",appleprice:"----",jdprice:"----",size:typeCode[4],color:typeCode[7]},
								{price:"----",appleprice:"----",jdprice:"----",size:typeCode[4],color:typeCode[8]}
								],
            				iphone6s:[{price:"2950",appleprice:"4388",jdprice:"3999",size:typeCode[1],color:typeCode[5]},
								{price:"3050",appleprice:"4388",jdprice:"3999",size:typeCode[1],color:typeCode[6]},
								{price:"3150",appleprice:"4388",jdprice:"3999",size:typeCode[1],color:typeCode[7]},
								{price:"3150",appleprice:"4388",jdprice:"3999",size:typeCode[1],color:typeCode[8]},
								{price:"3700",appleprice:"5088",jdprice:"5088",size:typeCode[3],color:typeCode[5]},
								{price:"3800",appleprice:"5088",jdprice:"5088",size:typeCode[3],color:typeCode[6]},
								{price:"3900",appleprice:"5088",jdprice:"5088",size:typeCode[3],color:typeCode[7]},
								{price:"3900",appleprice:"5088",jdprice:"5088",size:typeCode[3],color:typeCode[8]},
								{price:"4000",appleprice:"5388",jdprice:"5388",size:typeCode[4],color:typeCode[5]},
								{price:"4100",appleprice:"5388",jdprice:"5388",size:typeCode[4],color:typeCode[6]},
								{price:"----",appleprice:"5388",jdprice:"5388",size:typeCode[4],color:typeCode[7]},
								{price:"----",appleprice:"5388",jdprice:"5388",size:typeCode[4],color:typeCode[8]}],
							
            	}
            	

		/*[
		{m:"iPhone 6s",
		sys_attrprice:{
			"1_5":{price:"2950",appleprice:"4388",jdprice:"3999"},
			"1_6":{price:"3050",appleprice:"4388",jdprice:"3999"},
			"1_7":{price:"3150",appleprice:"4388",jdprice:"3999"},
			"1_8":{price:"3150",appleprice:"4388",jdprice:"3999"},
			"3_5":{price:"3700",appleprice:"5088",jdprice:"5088"},
			"3_6":{price:"3800",appleprice:"5088",jdprice:"5088"},
			"3_7":{price:"3900",appleprice:"5088",jdprice:"5088"},
			"3_8":{price:"3900",appleprice:"5088",jdprice:"5088"},
			"4_5":{price:"4000",appleprice:"5388",jdprice:"5388"},
			"4_6":{price:"4100",appleprice:"5388",jdprice:"5388"},
			"4_7":{price:"----",appleprice:"5388",jdprice:"5388"},
			"4_8":{price:"----",appleprice:"5388",jdprice:"5388"},
		},from:"美版"},

		
		{m:"iPhone 6",
		sys_attrprice:{
			"1_5":{price:"2499",appleprice:"3699",jdprice:"3699"},
			"1_6":{price:"2599",appleprice:"3699",jdprice:"3699"},
			"1_7":{price:"3150",appleprice:"3699",jdprice:"3399"},
			"1_8":{price:"----",appleprice:"----",jdprice:"----"},
			"3_5":{price:"2999",appleprice:"4399",jdprice:"4399"},
			"3_6":{price:"3099",appleprice:"4399",jdprice:"4399"},
			"3_7":{price:"3199",appleprice:"4399",jdprice:"4099"},
			"3_8":{price:"----",appleprice:"----",jdprice:"----"},
			"4_5":{price:"3150",appleprice:"----",jdprice:"----"},
			"4_6":{price:"3250",appleprice:"----",jdprice:"----"},
			"4_7":{price:"3299",appleprice:"----",jdprice:"----"},
			"4_8":{price:"----",appleprice:"----",jdprice:"----"},
		},from:"美版"},
		{m:"iPhone 6",
		sys_attrprice:{
			"1_5":{price:"2499",appleprice:"3699",jdprice:"3699"},
			"1_6":{price:"2599",appleprice:"3699",jdprice:"3699"},
			"1_7":{price:"3150",appleprice:"3699",jdprice:"3399"},
			"1_8":{price:"----",appleprice:"----",jdprice:"----"},
			"3_5":{price:"2999",appleprice:"4399",jdprice:"4399"},
			"3_6":{price:"3099",appleprice:"4399",jdprice:"4399"},
			"3_7":{price:"3199",appleprice:"4399",jdprice:"4099"},
			"3_8":{price:"----",appleprice:"----",jdprice:"----"},
			"4_5":{price:"3150",appleprice:"----",jdprice:"----"},
			"4_6":{price:"3250",appleprice:"----",jdprice:"----"},
			"4_7":{price:"3299",appleprice:"----",jdprice:"----"},
			"4_8":{price:"----",appleprice:"----",jdprice:"----"},
		},from:"美版"},
		]*/
            /*	Vue.component('imgitem', {
            		props: ['url'],
            		template: '<div style="float:left;width:25%; text-align: center;">{{url}} <img style="margin:10px;" src="{{url}}"></div>'
            	})*/           	
            	/*Vue.component('imgitem', {
            		props: ['url'],
            		template: '<div style="float:left;width:25%; text-align: center;"><img style="margin:10px;"  v-bind:src="url.m"></div>'
            	})*/
var imgList = Vue.component('img-list', {
	props: ['imgs'],
	template: '<div v-for=" i in imgs"  style="float:left;width:25%; text-align: center;"><img style="margin:10px;"  v-bind:src="i.m"></div>'
})
var app = new Vue({
	el: '#appList',
	methods: {
		typeChanged: function (t) {
			
			switch(t)
			{
				case 0:
				this.items[0].imgs=drimgs.iphone6
				 this.items[0].infos=infos.iphone6
				break;
				case 1:
				this.items[0].imgs=drimgs.iphone6s
				 this.items[0].infos=infos.iphone6s
				break;
				case 2:
				
				break;
				default:

				break;
			}
		}
	},
	ready: function () {
      //这里是vue初始化完成后执行的函数
              this.items[0].imgs=drimgs.iphone6
              var list = [];
              for (i in infos){
              	list.push(i)
              }
              this.items[0].type=list
              this.items[0].infos=infos.iphone6
             
              
            },
	data: {
		items: [
		{	name:"iPhone",logo:"http://store.storeimages.cdn-apple.com/8748/store.apple.com/shop/shop/rs-external/rel/cn/ac-globalnav/images/ac-globalnav/globalnav/apple/image_large.svg",lastDate:"2016-10-24",style:"background-color:#ff6767;margin-bottom:10px;margin-top:10px;width: 100px;height: 100px;border-radius: 50%;",
		type:[],
		infos:[],
		imgs:[],


		technologys:[{m:"Kotlin 与 Java 混合开发"},{m:"RxJava ·	RxBus ·  okhttp3"},{m:"Glide · JSONObject · 正则"},{m:"DrawerLayout · NavigationView · SwipeRefreshLayout ·RecycleView ·  CardView · ViewPager"},{m:"下拉刷新 上拉加载"},],
		pics:{url:"http://store.storeimages.cdn-apple.com/8748/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone7/jetblack/iphone7-jetblack-select-2016_AV2?wid=150&hei=305&fmt=png-alpha&qlt=95&.v=1472693558353",
		zurl:"http://store.storeimages.cdn-apple.com/8748/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone7/jetblack/iphone7-jetblack-select-2016_AV1?wid=150&hei=305&fmt=png-alpha&qlt=95&.v=1472693193136"},
	},]

}
});

var mySwiper = new Swiper('.tab-view',{
	pagination: '.my-pagination',
	swipeHandler : '.swipe-handler',
	paginationClickable: true,
	paginationBulletRender: function (index, className) {
		switch (index) {
			case 0: name='价格列表';break;
			case 1: name='购买须知';break;
			case 2: name='配件列表';break;
			default: name='';
		}
		return '<span class="' + className + '">' + name + '</span>';
	}
});
var swiper = new Swiper('.imgs', {
	pagination: '.swiper-pagination',
	paginationClickable: true,
	autoplay: 3000,
	initialSlide :1,
		//loop: true,
		slidesPerView : 4,
		centeredSlides : true,
	});
$(function(){
//console.log($(this))
$(".phoneItemSe").each(function(){
	$(this).click(function(){
		$(".phoneItemSe").each(function(){
			$(this).attr("class","phoneItemSe")
		});
		$("img-list").attr(":imgs","imgs")
		$(this).attr("class","phoneItemSe se")
	});
});
 $(".phoneItemSe").get(0).className = "phoneItemSe se"
		 //logo颜色渐变动画
		 $(".logo").gradientify({
		 	gradients: [
		 	{ start: [0, 184, 255], stop: [110, 213, 108] },
		 	{ start: [255,103,69], stop: [240,154,241] },
		 	{ start: [33,229,241], stop: [235,236,117] }
		 	]
		 });
            //美化浏览器的滚动条
            $("html").niceScroll({
            	touchbehavior:false,cursorcolor:"#0966ce",cursoropacitymax:1,cursorwidth:5,horizrailenabled:true,cursorborderradius:5,autohidemode:true,background:'none'
            });
            
        });
</script>
</body>
</html>


<!-- {m:"iPhone 6s",
            			sys_attrprice:{
            				"1_5":{price:"2950",appleprice:"4388",jdprice:"3999"},
            				"1_6":{price:"3050",appleprice:"4388",jdprice:"3999"},
            				"1_7":{price:"3150",appleprice:"4388",jdprice:"3999"},
            				"1_8":{price:"3150",appleprice:"4388",jdprice:"3999"},
            				"3_5":{price:"3700",appleprice:"5088",jdprice:"5088"},
            				"3_6":{price:"3800",appleprice:"5088",jdprice:"5088"},
            				"3_7":{price:"3900",appleprice:"5088",jdprice:"5088"},
            				"3_8":{price:"3900",appleprice:"5088",jdprice:"5088"},
            				"4_5":{price:"4000",appleprice:"5388",jdprice:"5388"},
            				"4_6":{price:"4100",appleprice:"5388",jdprice:"5388"},
            				"4_7":{price:"----",appleprice:"5388",jdprice:"5388"},
            				"4_8":{price:"----",appleprice:"5388",jdprice:"5388"},
            			},from:"美版"}, -->