
	 .item {
   	 background-color:#fff;
	 padding: 13px;
	 margin-top:20px;
	 overflow:auto;
	 float:left;
	 border-radius: 5px;
	 margin-left: 20px;
	 transition: all .5s ease;
	}
	.item:hover{
		-webkit-transform: scale(1.05);
	    -moz-transform: scale(1.05);
	    transform: scale(1.05);
	    -webkit-border-radius: 8px;
	    -moz-border-radius: 8px;
	    border-radius: 8px;
	    position: relative;
	    z-index: 100;
	}
	.phoneSvg{
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/iphone/home/r/home/images/familybrowser/iphone_comp_large.svg");
    background-size: 48px 54px;
    height: 54px;
    width: 48px;
	}
	.padSvg{
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/ipad/home/s/home/images/familybrowser/ipad_comp_large.svg");
    background-size: 48px 54px;
    height: 54px;
    width: 48px;
	}
	.macSvg{
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_comp_large.svg");
    background-size: 48px 54px;
    height: 54px;
    width: 48px;
	}
	.peijianSvg{
    background-repeat: no-repeat;
    background-image: url("../QuanEr/Images/peijian.svg");
    background-size: 48px 54px;
    height: 54px;
    width: 48px;
	}
	.hanguoSvg{
    background-repeat: no-repeat;
    background-image: url("../QuanEr/Images/hanguo.svg");
    background-size: 48px 54px;
    height: 54px;
    width: 48px;
	}
	.issue{
		font-size: 1.5em;
	    margin-top: 16px;
		float: left;
		font-family: "微软雅黑";
		color: #fff;
		border-radius: 4px;
		padding: 1px 3px 1px 3px;
		background-color: #333;
	}
.menudiv{
	margin:0 auto;
	padding:0;
}
*{
	font-size:30px;
	font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body{
	background-color: #333;
	background: #333;
	background-image:url("http://sandbox.runjs.cn/uploads/rs/140/537wvzh6/stardust.png");

}
.header{
	height:90px;
	padding-top:10px;
	text-align:center; 
	margin-bottom:10px;
	color:#fff;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-image:url("http://sandbox.runjs.cn/uploads/rs/140/537wvzh6/cjvlsvoc.png");
	
}
.dataDiv{
	padding:2px;

}
.gb{
	font-size: 0.6em;
	background-color:#333;
	padding:3px;
	color:#fff;
	border-radius:3px;
	margin-left:10px;
	
}
.menu-title{
	font-size:1.7em;
	padding:10px;
	overflow: auto;
	color:#fff;
	background-image:url("http://sandbox.runjs.cn/uploads/rs/140/537wvzh6/xopwxldu.jpg");
	
}
.saled{
	font-size:0.6em;
}
.hotItem{
	margin:2px;
	padding-left:10px;
	padding-top:10px;
	overflow: auto; 
	color:#fff;
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#68C9FF',endColorStr='#FF6767',gradientType='1');
	
	background: -moz-linear-gradient(left, #68C4FF, #FF6767);
	
	background: -o-linear-gradient(left,#68C4FF, #FF6767);
	
	background: -webkit-gradient(linear, 50% 0%, 0% 0%, from(#68C9FF), to(#FF6799));
}
.dataItem{
	margin:2px;
	padding-left:10px;
	padding-top:10px;
	overflow: auto; 
	color:#fff;
	border:1px solid #68C4FF;
	
}
.price{
	font-size: 0.6em;
	color:#fff;

}
.upDate{
	float:right; 
	margin-right:20px;
	font-size: 0.6em;
}
.add{
	border:0;
	background-color:rgba(255, 255, 255, 0);
	color:#ff4444;
}
.add:hover{
	border:0;
	color:#ff6767;
}
.modal-iphone{
	width:900px;
}
.ns{
	font-size: 0.9em;
}


select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: 2px groove rgb(238, 238, 238);

	color:#333;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  /*background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;*/
	background-color: #fff;

  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 12px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }