body{
  margin: 0;
  padding: 0;
  background-color: #ededed;

}
*{
  color: #333;
  font-family: "微软雅黑";
  font-size: 13px;


}
.header{
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;


}
.center{
  width: 1070px;
  margin: 0 auto;
  border-radius: 5px;

}

/*table*/
table{
  border-collapse: collapse; 
  border: none; 


}
th{
  color: #2AED94;
  width: 150px;
  border: solid #eee 1px; 
  background-color: #f6f7fa;
  line-height: 35px;
}
td{
  color: #333;
  text-align: center;
  border: solid #eee 1px; 
  width: 150px; 
  background-color: #fff;
  line-height: 35px;
}

